.sidbar-top {
    background-color: #46B6E0;
    height: 4em;
    width: 80%;
    position: relative;
    left: 20%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}