* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
}

header {
  height: 100%;
  width: 100%;
  background-color: #46b7e012;
}

nav {
  background-color: #000;
  padding: 5px 60px;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

nav ul li {
  cursor: pointer;
  padding: 15px 0;
}

nav ul li:hover {
  color: #FFF;
}

nav ul li:nth-child(6) {
  background-color: #46B6E0;
  padding: 10px;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFF;
  -webkit-transition: background-color .35s ease-in-out;
  transition: background-color .35s ease-in-out;
}

nav ul li:nth-child(6)::after {
  all: unset !important;
}

nav ul li:nth-child(6):hover {
  background-color: #186e8f;
}

nav ul li:nth-child(6):hover a {
  color: #FFF;
}

nav ul li.logo {
  margin-right: auto;
  font-size: 25px;
  font-weight: 700;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #46B6E0;
}

nav ul li.logo span {
  color: white;
}

nav ul li.nav_links {
  width: auto;
  margin: 0 16px;
  text-align: center;
  position: relative;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

nav ul li.nav_links:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 0%;
  background: #46B6E0;
  left: 0;
  bottom: 9px;
  opacity: 1;
  -webkit-transition: all 0.2s cubic-bezier(0.15, 0.41, 0.82, 0.3);
  transition: all 0.2s cubic-bezier(0.15, 0.41, 0.82, 0.3);
}

nav ul li.nav_links:hover:after {
  width: 100%;
}

nav ul li a {
  color: white;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s;
}

nav ul li a i {
  width: 35px;
  height: 35px;
}

nav ul li:hover a {
  color: #46B6E0;
}

nav ul li i {
  font-size: 23px;
}

nav ul li.btn {
  display: none;
}

nav ul li.btn a {
  font-size: 35px;
}

nav ul li.btn.hide i:before {
  content: '\f00d';
}

@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }
  nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav ul li.nav_links {
    width: 100%;
    display: none;
    left: -2%;
  }
  nav ul li.nav_links.show {
    display: block;
  }
  nav ul li.btn {
    display: block;
  }
  nav ul li:nth-child(6) {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  nav .header-content p {
    font-size: 15px;
  }
  nav .header-content .pha1 {
    font-size: 40px;
  }
  nav .header-content button {
    width: 130px;
    height: 40px;
    font-size: 15px;
  }
  nav ul li.btn {
    display: block;
  }
}

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: 'Play', sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.4% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #46B6E0;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

.backgroung-cover img {
  width: 100%;
  background-size: cover;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #FFF;
  font-weight: bold;
  font-size: 60px;
}

.sidbar-top {
  background-color: #46B6E0;
  height: 4em;
  width: 80%;
  position: relative;
  left: 20%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partuno {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 40px auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.partuno .parttwo {
  width: 50%;
  padding: 20px 20px 50px;
}

.partuno .parttree {
  padding-left: 20px;
  width: 41%;
}

.parttree img {
  height: auto;
  width: 500px;
}

.parag {
  font-size: 24px;
}

.cardy {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cardy.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (max-width: 1000px) {
  .cardy {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.threedivs {
  border: 1px solid #46B6E0;
  -ms-flex-line-pack: center;
      align-content: center;
  background: white;
  padding-bottom: 10px;
  position: relative;
}

button {
  background-color: #46B6E0;
  border: none;
  border-radius: 20px;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.threedivs .center {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

main {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.parag p {
  text-align: center;
}

.par {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.about-us {
  margin: auto;
  width: 90vw;
  padding: 20px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
  width: 70vw;
  font-size: 30px;
  font-weight: bold;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.notre-ecole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin: auto;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.notre-ecole .description {
  width: 35em;
  margin-right: 100px;
  height: 100%;
  border: 1px solid #707070;
  padding: 10px 30px 10px 10px;
  font-size: 25px;
  position: relative;
  margin-right: 50px;
}

.image {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  overflow-y: hidden;
  width: 35em;
  margin: auto 0;
  margin-right: 50px;
}

.paragraph {
  margin-bottom: 30px;
  display: block;
}

.auteur {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 4%;
  bottom: 2%;
}

@media all and (max-width: 1300px) {
  .notre-ecole {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .notre-ecole .description {
    margin: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .image {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    margin-top: 20px;
  }
}

.shadow {
  -webkit-box-shadow: inset 0 0 10px #00000030;
  box-shadow: 4px 5px 10px 0px #00000061;
  border-radius: 15px;
}

.form-login {
  background-color: #FFF;
  border: 1px solid;
  padding: 45px;
  margin: 27px 0px;
  position: relative;
  height: 400px;
}

.form-login a {
  position: absolute;
  right: 43px;
  bottom: 125px;
}

button {
  position: absolute;
  bottom: 25px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.login .big-title {
  font-weight: 800px;
  font-size: 50px;
}

.login .email,
.login .password {
  position: relative;
  margin-bottom: 40px;
}

.login .form-login .input {
  padding: 15px;
  text-indent: 40px;
  width: 26em;
  font-size: 20px;
}

.login .form-login .fa {
  position: absolute;
  top: 16px;
  left: 15px;
  font-size: 27px;
  overflow: visible;
}

.login .form-login .fa:after {
  content: '';
  height: 56.5px;
  width: 1px;
  background-color: #000;
  position: absolute;
  left: 33px;
  top: -15px;
}

.background-cover {
  background-image: url("../pics/parents.PNG");
  height: 500px;
}

@media all and (max-width: 1200px) {
  .partuno {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .partuno img {
    width: 100%;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .sidebar {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #46B6E0;
}

.container .menu {
  background-color: #46B6E0;
  text-align: center;
  padding: 20px;
  border-style: solid;
  border-color: rgba(124, 122, 122, 0.335);
  text-decoration: none;
  display: inline-block;
  color: #FFF;
}

.right_centent {
  width: 100%;
}

.right_centent .hori_sidebar {
  background-color: #46B6E0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 50px;
}

.right_centent .centnet {
  background-color: #FFF;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
}

.right_centent .centnet .circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 80%;
  margin: 20px auto;
}

.right_centent .centnet .circle .circle-info {
  text-align: center;
  width: 100px;
  vertical-align: revert;
}

.right_centent .centnet .circle .circle-info .count {
  background-color: #BCE0FD;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  line-height: 150px;
  font-size: 50px;
  margin: 0 0 15px 0px;
}

.right_centent .centnet .circle .circle-info .nom {
  width: 150px;
}

.right_centent .centnet .statistic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 48px auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.gestion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.gestion .add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: inherit;
  cursor: pointer;
}

.gestion .popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.gestion .addEtudiant {
  margin: auto;
  background-color: #00000063;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 5px solid #03cdff;
  padding: 20px;
  width: 80%;
}

.gestion .addEtudiant .addEtudiant-child {
  position: relative;
  background-color: steelblue;
  height: 100%;
  width: 100%;
}

.gestion .addEtudiant .addEtudiant-child span {
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  font-size: 22px;
  font-weight: bolder;
  color: white;
  width: 40px;
  height: 40px;
  background-color: gray;
  border-radius: 50%;
  -webkit-transition: background-color .35s ease-in-out;
  transition: background-color .35s ease-in-out;
}

.gestion .addEtudiant .addEtudiant-child span:hover {
  background-color: #0d0d0d;
}

.gestion .addEtudiant form h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  padding: 25px;
}

.gestion .addEtudiant form .inputs input,
.gestion .addEtudiant form .inputs label {
  width: 80%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  display: block;
  margin: auto;
}

.gestion .addEtudiant form .inputs label {
  color: #8a0000;
  font-size: 15px;
}

.gestion .addEtudiant form .inputs input {
  height: 50px;
  padding: 10px;
  font-size: 20px;
}

.gestion .addEtudiant form .select {
  width: 80%;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  display: block;
  margin: auto;
}

.gestion .addEtudiant form .btn {
  background-color: #46B6E0;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  margin: 20px auto;
  font-size: 20px;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-transition: background-color .35s ease-in-out, color .35s ease-in-out;
  transition: background-color .35s ease-in-out, color .35s ease-in-out;
}

.gestion .addEtudiant form .btn:hover {
  background-color: #1c7fa4;
}

.gestion .addEtudiant form .btn:active {
  color: white;
  background-color: #114c63;
}

.table-etudiant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100%;
  padding: 20px;
  /* .table-etudiant table th.operation span:before {
            content: " | ";
        } */
}

.table-etudiant table {
  width: 80%;
  border: solid 1px #707070;
  border-collapse: collapse;
  height: 200px;
  margin: auto;
}

.table-etudiant table th {
  background-color: rgba(0, 0, 0, 0.05);
  border: solid 1px #707070;
  padding: 10px;
}

.table-etudiant td {
  border: solid 1px #707070;
  padding: 10px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow: hidden;
}
/*# sourceMappingURL=style.css.map */