@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  overflow-x: hidden;
}

header {
  /* padding: 15px 5%; */
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #46b7e012;
}
header .header-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-align: center;
  overflow-y: hidden;
}

nav {
  background-color: rgba(0, 0, 0, 0.712);
  padding: 5px 60px;
  z-index: 1;
  position: relative;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav ul li {
  cursor: pointer;
  padding: 15px 0;
  cursor: pointer;
  align-items: center;
}

nav ul li.nav_links {
  width: auto;
  margin: 0 16px;
  text-align: center;
  position: relative;
  order: 3;
}

<<<<<<< HEAD
nav ul li.nav_links:after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background: #46B6E0;
  left: 0;
  bottom: 9px;
  opacity: 0;
  transition: all 0.2s linear;
}

nav ul li.nav_links:hover:after {
  opacity: 1;
  bottom: 8px;
=======
nav ul li:nth-child(6) {
  background-color: #46B6E0;
  padding: 10px;
  border-radius: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #FFF;
  -webkit-transition: background-color .35s ease-in-out;
  transition: background-color .35s ease-in-out;
}

nav ul li:nth-child(6)::after {
  all: unset !important;
}

nav ul li:nth-child(6):hover {
  background-color: #186e8f;
}

nav ul li:nth-child(6):hover a {
  color: #FFF;
>>>>>>> f30237273b56be854adf84bbfb32cf8850fbbe53
}

nav ul li.logo {
  flex: 1;
  font-size: 25px;
  font-weight: 700;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #46B6E0;
}

nav ul li.logo span {
  color: white;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: 0.4s;
}

nav ul li:hover a {
  color: #46B6E0;
}

nav ul li i {
  font-size: 23px;
}

nav ul li.btn {
  display: none;
}

nav ul li.btn.hide i:before {
  content: "";
}

@media all and (max-width: 900px) {
  nav {
    padding: 5px 30px;
  }

  nav ul li.nav_links {
    width: 100%;
    display: none;
  }

  nav ul li.nav_links.show {
    display: block;
  }

  .header-content p {
    font-size: 15px;
  }

  .header-content .pha1 {
    font-size: 40px;
  }

  .header-content button {
    width: 130px;
    height: 40px;
    font-size: 15px;
  }

  /* nav ul li.nav_links a:hover {
  box-shadow: 0 0 5px #46B6E0, 0 0 10px #1f1a05;
  border-radius: 5px;
  } */
  nav ul li.nav_links:after {
    opacity: 0;
  }

  nav ul li.btn {
    display: block;
  }
}
.mVideo video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
}

.footer {
  background: #000;
  padding: 30px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
}

.footer .row {
  width: 100%;
  margin: 1% 0%;
  padding: 0.4% 0%;
  color: gray;
  font-size: 0.8em;
}

.footer .row a {
  text-decoration: none;
  color: gray;
  transition: 0.5s;
}

.footer .row a:hover {
  color: #fff;
}

.footer .row ul {
  width: 100%;
}

.footer .row ul li {
  display: inline-block;
  margin: 0px 30px;
}

.footer .row a i {
  font-size: 2em;
  margin: 0% 1%;
}

@media all and (max-width: 720px) {
  .footer {
    text-align: left;
    padding: 4%;
  }

  .footer .row ul li {
    display: block;
    margin: 10px 0px;
    text-align: left;
  }

  .footer .row a i {
    margin: 0% 3%;
  }
}
.partuno {
  display: grid;
  -moz-column-count: 2;
  /* column-count: 2; */
  /* grid-template-columns: 1fr 1fr; */
  padding: 90px 70px 50px 150px;
  /* column-count: 2; */
  /* justify-content: center; */
  -moz-column-gap: 50px;
  /* column-gap: 50px; */
  -moz-column-width: 600px;
  /* column-width: 600px; */
  -moz-column-span: all;
  /* column-span: all;*/
}
.partuno.parttwo {
  padding: 20px;
}

.partuno .parttwo p {
  font-size: 25px;
  padding-left: 30px;
  padding-top: 15px;
}

.partuno .parttwo h1 {
  font-size: 45px;
}

.parag {
  font-size: 24px;
}

.cardy {
  justify-content: center;
}

.threedivs {
  border: 1px solid #46B6E0;
  align-content: center;
}

button {
  background-color: #46B6E0;
  border: none;
  border-radius: 20px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.parag p {
  text-align: center;
}

.par {
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}/*# sourceMappingURL=style.css.map */











/* ____________________________newcss___________________________ */

/* .QST {
  display: flex;
  width: 100%;

  margin-top: 63px;
}

.slide {
  background-image: url(../Img/pic.jpg);
  background-size: cover;
  width: 34%;
  height: 440px;
}

.R-para {
  width: 50%;
  text-align: center;
  color: black;
  padding: 48px 111px;
}

.R-para ul {
  margin-right: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  margin-left: 20px;
color: #000;
}

.R-para li {
  display: block;
  list-style-type: none;
}
.backimg{
  padding: 3%;
  background-color: #46B6E0;
} */

.QST {
  display: flex;
  width: 100%;

  margin-top: 63px;
}

.slide {
  background-image: url(../pics/pic.jpg);
  margin-top: 100px;
  background-size: cover;
  width: 34%;
  height: 440px;
}

.R-para {
  width: 50%;
  text-align: center;
  color: black;
  padding: 48px 111px;
}

.R-para h1 {
  text-align: left;
  font-size: 45px;
}

.R-para li {
  font-size: 25px;
  padding-left: 20px;
}

/* .R-para h4 {
  margin: 25px 0;
  font-size: 18px;
} */

.R-para ul {
  margin-right: 20px;
  text-align: left;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 300;
  margin-left: 20px;

}

.R-para li {
  display: block;
  list-style-type: none;
}
@media (max-width:900px) {

  .QST {
      display: block;
  }

  .R,
  .slide {
      width: 100%;
      background-position: center;
      height: 80vh;
  }


}
@media (max-width:1260px) {
  .R-para {
      width: 100%;
  }

}

/* _____________Cards____________ */

.cards_main{
  width: 100%;
  margin: auto;
  background-color: #46B6E0;
  padding-bottom: 20px;
}

h1 {
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
  justify-content: center;
  width: 25%;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

<<<<<<< HEAD
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
=======
.shadow {
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.form-login {
  background-color: #FFF;
  border: 1px solid;
  padding: 45px;
  margin: 27px 0px;
  position: relative;
  height: 350px;
}

.form-login a {
  position: absolute;
  right: 43px;
}

.form-login button {
  position: absolute;
  bottom: 25px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
>>>>>>> f30237273b56be854adf84bbfb32cf8850fbbe53
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

<<<<<<< HEAD
.card_content {
  padding: 1rem;
  background: black;
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
=======
.login .big-title {
  font-weight: 800px;
  font-size: 50px;
}

.login .email,
.login .password {
  position: relative;
  margin-bottom: 20px;
}

.login .form-login .input {
  padding: 10px;
  text-indent: 40px;
  width: 26em;
  font-size: 20px;
}

.login .form-login .fa {
  position: absolute;
  top: 11px;
  left: 8px;
  font-size: 27px;
  overflow: visible;
}

.login .form-login .fa:after {
  content: '';
  height: 47.5px;
  width: 2px;
  background-color: #000;
  position: absolute;
  left: 32px;
  top: -11px;
}

.background-cover {
  background-image: url("../pics/parents.PNG");
  height: 500px;
}
/*# sourceMappingURL=style.css.map */
>>>>>>> f30237273b56be854adf84bbfb32cf8850fbbe53
